<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー名入力</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header class="header">
        <h1>みんなで協力して闇鍋を作りましょう</h1>
    </header>

    <main class="container">
        <h2>このサイトでのあなたの名前を決めてください</h2>
        <input type="text" id="userName" placeholder="名前を入力してください">
        <button id="submitButton">決定</button>
    </main>

    <script src="index.js"></script>
</body>
</html>